.tabs{
    background-color: white;
    width: 69.5%;
    height: 50%;
    height: 100%;
    border: 1px solid #e5e5e5;
    float: left;
    margin-left: 2px;
}

.tab1{
    width:300px;
    position: relative;
}
