.sidenav {
    background-color: #000000 !important;
    padding: 100px 0px;
    /* padding-bottom: 25%; */
    height: 620px;
    width: 20%;
    min-width:100px;
    float:left;
    box-sizing: content-box;
}

@media only screen and (max-width: 480px){
  .side-nav {
    height: 0px;
    box-sizing: content-box;
    float: left;
  }

  .sidenav {
    height: 0px;
    width: 0%;
    float: left;
}


}

@media only screen and (max-width: 720px){
  .side-nav {
    height: 0px;
    box-sizing: content-box;
    float: left;
  }

  .sidenav {
    height: 0px;
    width: 0%;
    box-sizing: content-box;
}

}

/* .relative-nav-wrapper.button {
    padding: 10px 0px;
} */

.content-wrapper {
  position: relative;
  height: 0;
}
/* .relative-logo-wrapper {
  position: relative;
  height: 100px;


} */
/* .relative-nav-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
} */

/* .name {
  font-size: 24px;
  color: black;
} */
