.status-button{
  width: 90%;
  box-sizing: border-box;
  background-color:red;
  border: none;
  display: inline-block;
  height: 30px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;

}
