tr.expandable > td {
  box-shadow: inset 0 3px 6px -3px rgba(0, 0, 0, .2);
  padding: 0;
}

tr.expandable > td > .inner {
  margin: 15px;
  overflow: hidden;
}

.uk-table th {
    text-align: center;
}

h2 {
    float: left;
    margin-top: 10px;
    margin-left: 15px;
}

#p1 {
    display: inline;
    border-radius: 25px;
}

#p2 {
    border-radius: 25px;
}
