.tabs{
    background-color: lightgrey;
    width: 70%;
    margin-left:2%;
    margin-right: 2;
    margin-top: 5%;
    height: 50%;
    min-height: 500px;
    float:left;
    
}

.tab1{
    width:300px;
    position: relative;
}